target/classes/flight-pricing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="flight-pricingFlow" doc:id="f7d9dfa4-2158-4759-a5bf-ca1119db1b45" >
		<http:listener doc:name="Listener" doc:id="fd4f7dd8-439f-4988-b8ee-33cf32d9657d" config-ref="HTTP_Listener_config" path="/flights">
			<reconnect />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="0ec46fa1-b2a8-4679-beaa-45ade8725021" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import java!com::innovativeapps::manager::FlightsPriceManager
output application/json
---
{
	flightDetails: FlightsPriceManager::FlightPriceAnalysis(),
	flightsList: FlightsPriceManager::getFlightsOffer()
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3b8ab673-1b2a-48d7-9e5b-633fa4e1d560" message="#[payload]"/>
	</flow>
</mule>
